@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 35px;
}

body {
  background: #000;
}
/* App.css */

html {
  scroll-behavior: smooth;
}
